@media (max-width: 614px) {

    * {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.content {
    display: flex;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    font-size: 45px;
    position: fixed;
    top: 0;
    left: 0;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
}
input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.footer input {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: none;
}

.messages {
    height: 500px;
    width: 600px;
    margin-top: 110px;
    background-color: #e5e5e5;
}

.message {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    padding: 0 10px;
}

.strong {
    font-weight: 700;
    padding: 0 5px;
}

.time {
    color: #AAAAAA;
}

.typeStatus {
    background-color: #DCDCDC;
    font-weight: 400;
}

.typePrivate {
    background-color:#FFDEDE ;
}

.options {
    width: 259px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    right: 0;
    top: 0;
}

.options div {
    font-weight: 700;
    width: 259px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.li ion-icon {
    margin: 10px;
}

.hidden {
    display: none;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


}