@media (max-width: 614px) {

    * {
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #e5e5e5;
}

.content {
    display: flex;
}

.loginScreen {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.loginScreen img {
    margin: 72px auto;
}

.loginScreen input {
    width: 261px;
    height: 54px;
    margin: 15px auto;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
   
}

.loginScreen input::placeholder {
    color: #AEAEAE;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


.loginScreen button {
    width: 109px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
    background-color: #E7E7E7;
    border-radius: 9px;
    
}


.header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
    font-size: 45px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 45px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
input::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.footer input {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    border: none;
}

.messages {
    width: 600px;
    margin-top: 110px;
    margin-bottom: 70px;
    background-color: #e5e5e5;
    
}


.message {
    width: 100%;
    height: 40px;
    display: block;
    align-items: center;
    justify-content: left;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 10px;
    margin: 4px 0;
    overflow-y: auto;
}

.from {
    font-weight: 700;
    padding-left:5px;
}

.to {
    font-weight: 700;
    padding-right: 3px;
}

.time {
    color: #AAAAAA;
}

.typeStatus {
    background-color: #DCDCDC;
    font-weight: 400;
}

.typePrivate {
    background-color:#FFDEDE ;
}

.options {
    width: 259px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    right: 0;
    top: 0;
    overflow: scroll;
}

.options div {
    font-weight: 700;
    width: 259px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

li {
    width: 100%;
    height: 30px;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    margin: 5px 15px;
}

li ion-icon {
    font-size: 25px;
    margin-right: 5px;
}

.hidden {
    display: none;
}


.background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.loginIn {
    margin: 25px auto;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

}